#personalizar{
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1.75rem;

  .input-div{
    label{
      color: white;
    }
  }
}

#cor{
  gap: 1rem;

  .radio-hex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
  }

  .hex-inner{
    width: 2.5rem;
    height: 100%;
    position: relative;
    border: .25rem solid var(--shape-button);
    outline: 2px solid var(--shape-button);
    border-radius: 50%;
    transition: all .5s;

    input{
      position: absolute;
      inset: 0;
      opacity: 0;
    }

    &:hover, &:focus, &:focus-within{
      outline: 2px solid var(--brand-light);
      border: .25rem solid var(--shape-hover);
    }
  }
}

#cor{
  #blue-div{
    background-color: var(--brand-light);
  }

  #navy-div{
    background-color: var(--navy);
  }

  #purple-div{
    background-color: var(--purple);
  }

  #fuschia-div{
    background-color: var(--fuschia);
  }

  #pink-div{
    background-color: var(--pink);
  }

  #danger-div{
    background-color: var(--danger);
  }

  #orange-div{
    background-color: var(--orange);
  }
  
  #yellow-div{
    background-color: var(--yellow);
  }

  #lime-div{
    background-color: var(--lime);
  }

  #green-div{
    background-color: var(--green);
  }

  #cyan-div{
    background-color: var(--cyan);
  }
}

#tema-div{
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(8.375rem, 1fr));
  gap: .5rem;
}

.tema-radio{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: .5rem;
  padding: .25rem .25rem .5rem;
  text-align: center;
  border: 1px solid var(--input-stroke);
  background-color: var(--shape-button);
  outline: 2px solid var(--shape-body);
  border-radius: .5rem;
  transition: all .5s;
  position: relative;

  label{
    font: var(--body-sm);
    color: var(--text-heading);
  }

  input{
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  &:hover, &:focus, &:focus-within{
    outline: 2px solid var(--brand-light);
  }
}

#btn-file{
  display: flex;
  justify-content: space-between;
}

.switch{
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;

  input{
    position: absolute;
    z-index: 1;
    height: 1.5rem;
    width: 1.5rem;
    border: solid;
    opacity: 0;
    cursor: pointer;
    left: .25rem;
  }

  .slider{
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.5s;

    &::before{
      content: "";
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      left: 3px;
      bottom: 3px;
      background-color: var(--input-stroke);
      border-radius: 50%;
      transition: transform 0.5s;
    }
  }

  input:checked + .slider {
    background-color: var(--brand-light);
  }

  input:checked + .slider::before {
    transform: translateX(2rem);
    background-color: var(--text-heading);
  }

  input:checked{
    transform: translateX(2rem);
  }

  p{
    margin-left: .75rem;
    font: var(--body-sm);
    color: var(--text-heading);
  }

  input:checked + .slider + p::after {
    content: "Claro";
  }

  input:not(:checked) + .slider + p::after {
    content: "Escuro";
  }
}


#file-div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  height: 100%;
  width: 100%;
  position: relative;
  padding-block: .25rem;
  gap: .75rem;
  cursor: pointer;
  transition: all .5s;
  
  p{
    font: var(--body-md);
    color: var(--input-placeholder);
  }
  
  #upload-div{
    transition: all .5s;
    display: flex;
    align-items: center;
    background-color: var(--shape-button);
    gap: .5rem;
    padding: .625rem .75rem;
    border-radius: .5rem;

    label{
      font: var(--body-sm-bold);
    }
  }

  img{
    width: 1rem;
    height: 1rem;
    filter: invert(76%) sepia(44%) saturate(5304%) hue-rotate(183deg) brightness(103%) contrast(101%);
  }

  input{
    all: unset;
    position: absolute;
    opacity: 0;
    inset: 0;
  }

  &:hover, &:focus, &:focus-within{
    #upload-div{
      background-color: var(--shape-hover);
    }
  }
}